* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --primary-color: #0f1b4c;
}

a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background-color: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}
/* ============= Header =============*/
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0px;
}

/* ============= Clients =============*/
.clients {
    margin-top: 79px;
    padding: 43px 0px 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 96px;
}

/* ============= Guides =============*/

.guides {
    margin-top: 40px;
    padding: 93px 0px 79px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.guides p {
    margin: 20px auto 0px;
    width: 459px;
    max-width: 100%;
}

.list-guides {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0px 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
}

.guide-cta .btn {
    min-width: 170px;
    height: 50px;
    background: #0f1b4c;
}

/* line-height min, max-width  */

/* ============= Featured =============*/

.featured {
    margin-top: 41px;
    padding: 110px 0px;
    height: 727px;
    background-color: #f5fafe;
}

.featured .sub-title {
    display: inline-block;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    display: flex;
    align-items: flex-end;
    color: #5a6473;
}

.featured .link {
    font-weight: 600;
    font-size: 18px;
    color: #0689ff;
}

.featured .arrow {
    position: relative;
    top: -2px;
    margin-left: 6px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .item {
    flex: 1; /*chia đều độ rộng của thẻ cha cho các thẻ con*/
    background-color: #ffffff;
    border-radius: 12px;
}

.featured .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .body .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

.featured .body .desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0px;
}

.featured .body .info {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #444444;
}

/* ============= Stats =============*/

.stats {
    margin-top: 75px;
    padding: 50px 0px;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1048px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0px 0px 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 4px;
    top: -10px;
    left: 0;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats-trend {
    position: absolute;
    padding: 0px 23px;
    top: 0;
    left: 0;
    width: 239px;
    height: 252px;
    background-color: #fff;
    border-radius: 0px 0px 12px 12px;
}
.stats-trend .row {
    padding-top: 45px;
}

.stats-trend .row .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    color: #000339;
}
.stats-trend .row .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background-color: #e9e9e9;
}

.avatar-block {
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
    margin-top: 26px;
}

.avatar-block .avatar-group {
    display: flex;
}

.avatar-block .avatar-group .avatar {
    --bgc: #1f3bb1;
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--bgc, #1f3bb1);
    font-weight: 450;
    font-size: 0.71rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.avatar-block .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0px 32px;
}

.stats .row-qty .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .row-qty .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* ============= Subscription =============*/

.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    height: 370px;
    position: relative;
    align-items: center;
    background-color: #063183;
    border-radius: 20px;
}

.subscription .info {
    padding: 0 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subscription .body .info .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .body .info .btn {
    margin-top: 20px;
    min-width: 151px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
    background: #ffffff;
    border-radius: 12px;
}

.subscription .body .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .list a,
.footer .desc {
    font-weight: 400;
    font-size: 16px;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .desc {
    line-height: 1.75;
    white-space: normal;
}

.footer .item {
    margin-top: 18px;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.footer .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.footer .row-bottom .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
